.container-wrapper{
    height: 100vh;
    border: 1px solid #000;
    display: flex ;
    flex-direction: column;
    align-items: center;
    justify-content:center ;

}
.container-wrapper h1{
    font-size: 30px;

}
.main h2{
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.btn button{
    padding: 10px 30px;
    border: 1px solid #59f51c;
    border-radius:15px;
    background-color:#ebef0f;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
#increment:hover{
    background-color: #0c76e0;
    color: #fff;
}
#decrement:hover{
    background-color: #f51010;
    color: #fff;
}
